@import "../../../../custom.scss";

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $byzantine !important;
    background-color: $byzantine !important;
}

.login-options-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.login-options-link {
    &:hover,
    &:focus {
        color: inherit;
    }
}
